<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
  </head>
  <body>
  	<div>
  	<% movieList.forEach(function (movie, index) { %>
       <%= movie.title %>
   </div>
   <% }) %>
   </body>
</html>
